<div class="form-row" th:fragment="tipo">
    <div class="col">
        <div class="form-group">
            <label th:text="#{empleado.tipo}" for="tipo"></label>
            <select th:field="*{tipo.value}" class="form-control" id="tipo">
                <option th:each="tipo: ${tipos}" th:id="${tipo.value}" th:value="${tipo.value}" th:text="#{|tipoEmpleado.${tipo.value}|}"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="nombreTelefono">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{empleado.nombre}" class="control-label" for="nombre"></label>
            <input type="text" th:field="*{persona.nombre}" class="form-control" id="nombre" th:placeholder="#{empleado.nombre}" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group required">
            <label th:text="#{empleado.telefono}" class="control-label" for="telefono"></label>
            <input type="text" th:field="*{persona.telefono}" class="form-control" id="telefono" th:placeholder="#{empleado.telefono}" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="fijo">
    <div class="col">
        <div class="form-group">
            <label th:text="#{empleado.fijo}" for="fijo"></label>
            <select th:field="*{fijo}" class="form-control" id="fijo">
                <option id="optionSi" th:text="#{si}" value="true"></option>
                <option id="optionNo" th:text="#{no}" value="false"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>