<div class="form-row" th:fragment="fecha">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.fecha}" class="control-label" for="fecha"></label>
            <input type="text" th:field="*{fecha}" class="form-control" id="fecha" th:placeholder="#{evento.fecha}" required>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="descripcion">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.titulo}" for="titulo"></label>
            <input type="text" th:field="*{titulo}" class="form-control" id="titulo" th:placeholder="#{evento.titulo}" required>
        </div>
    </div>

    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.descripcion}" class="control-label" for="descripcion"></label>
            <input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" th:placeholder="#{evento.descripcion}" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="localidad">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.localidad}" class="control-label" for="localidad"></label>
            <input type="text" th:field="*{localidad}" class="form-control" id="localidad" th:placeholder="#{evento.localidad}" required>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="tipoHorarioTitulo">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.tipo}" for="tipo"></label>
            <select th:field="*{tipo.value}" class="form-control" id="tipo">
                <option th:each="tipo: ${tipos}" th:id="${tipo.value}" th:value="${tipo.value}" th:text="#{|tipo.${tipo.value}|}"></option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.horario}" for="horario"></label>
            <select th:field="*{horario.value}" class="form-control" id="horario">
                <option th:each="horario: ${horarios}" th:id="${horario.value}" th:value="${horario.value}" th:text="#{|horario.${horario.value}|}"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="sala">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.sala}" for="sala"></label>
            <select th:field="*{sala}" class="form-control" id="sala">
                <option id="sala1" th:text="#{sala1}" value="Sala1"></option>
                <option id="sala2" th:text="#{sala2}" value="Sala2"></option>
                <option id="patio" th:text="#{patio}" value="Patio"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="mayores">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.personas.mayores}" for="mayores"></label>
            <input type="number" th:field="*{personas.mayores}" class="form-control" id="mayores" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.precioMenu}" for="precioMenu"></label>
            <input type="number" step="0.01" th:field="*{precioMenu}" class="form-control" id="precioMenu" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="ninyos">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.personas.ninyos}" for="ninyos"></label>
            <input type="number" th:field="*{personas.ninyos}" class="form-control" id="ninyos" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.precioMenuNinyos}" for="precioMenuNinyos"></label>
            <input type="number" step="0.01" th:field="*{precioMenuNinyos}" class="form-control" id="precioMenuNinyos" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="confirmado">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.confirmado}" for="confirmado"></label>
            <select th:field="*{confirmado}" class="form-control" id="confirmado">
                <option id="optionSi" th:text="#{si}" value="true"></option>
                <option id="optionNo" th:text="#{no}" value="false"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>