<div class="form-row" th:fragment="fecha">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.fecha}" class="control-label" for="fecha"></label>
            <input type="text" th:field="*{fecha}" class="form-control" id="fecha" th:placeholder="#{evento.fecha}" required>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="localidad">
    <div class="col">
        <div class="form-group required">
            <label th:text="#{evento.localidad}" class="control-label" for="localidad"></label>
            <input type="text" th:field="*{localidad}" class="form-control" id="localidad" th:placeholder="#{evento.localidad}" required>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="tipoHorarioTitulo">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.tipo}" for="tipo"></label>
            <select th:field="*{tipo}" class="form-control" id="tipo" onchange="generarTitulo()">
                <option id="optionBoda" th:text="#{boda}" value="Boda"></option>
                <option id="optionComunion" th:text="#{comunion}" value="Comunion"></option>
                <option id="optionEventoComunal" th:text="#{eventoComunal}" value="Evento comunal"></option>
                <option id="optionEventoIndividual" th:text="#{eventoIndividual}" value="Evento individual"></option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.horario}" for="horario"></label>
            <select th:field="*{horario}" class="form-control" id="horario" onchange="generarTitulo()">
                <option id="optionComida" th:text="#{comida}" value="Comida"></option>
                <option id="optionCena" th:text="#{cena}" value="Cena"></option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.titulo}" for="titulo"></label>
            <input type="text" th:field="*{titulo}" class="form-control" id="titulo" th:placeholder="#{evento.titulo}" onchange="anyadirHorario()" required>
        </div>
    </div>
</div>

<div class="form-row" th:fragment="personas">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.personas}" for="personas"></label>
            <input type="number" th:field="*{personas}" class="form-control" id="personas" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.precioMenu}" for="precioMenu"></label>
            <input type="number" step="0.01" th:field="*{precioMenu}" class="form-control" id="precioMenu" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="ninyos">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.ninyos}" for="ninyos"></label>
            <input type="number" th:field="*{ninyos}" class="form-control" id="ninyos" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.precioMenuNinyos}" for="precioMenuNinyos"></label>
            <input type="number" step="0.01" th:field="*{precioMenuNinyos}" class="form-control" id="precioMenuNinyos" required>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="form-row" th:fragment="confirmado">
    <div class="col">
        <div class="form-group">
            <label th:text="#{evento.confirmado}" for="confirmado"></label>
            <select th:field="*{confirmado}" class="form-control" id="confirmado">
                <option id="optionSi" th:text="#{si}" value="true"></option>
                <option id="optionNo" th:text="#{no}" value="false"></option>
            </select>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>