<div class="modal fade" id="eventoEmpleadoModificarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modalContents">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{modificar}" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{eventoEmpleado.confirmado}" for="confirmado"></label>
                                <select th:field="*{eventoEmpleado.confirmado}" class="form-control" id="confirmado">
                                    <option id="optionSi" th:text="#{si}" value="true"></option>
                                    <option id="optionNo" th:text="#{no}" value="false"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{eventoEmpleado.horasExtras}" class="control-label" for="horasExtras"></label>
                                <input type="text" th:field="*{eventoEmpleado.horasExtras}" class="form-control" id="horasExtras">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalEventoModificarButton" th:text="#{modificar}" type="button" class="btn btn-primary" data-dismiss="modal" th:eventoEmpleadoId="${eventoEmpleado.id}" onclick="modificarModalClicked(this.getAttribute('eventoEmpleadoId'))"></button>
                <button id="modalEventoCerrarButton" th:text="#{cerrar}" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>