<div class="modal fade" id="confirmPersonasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modalContents">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="#{resultado}" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <span th:text="#{personasCalculadas} + ': ' + ${personas.mayores}"></span>
                    </div>
                    <div class="row">
                        <span th:text="#{ninyosCalculados} + ': ' + ${personas.ninyos}"></span>
                    </div>
                    <div class="row">
                        <span th:text="#{preguntaGuardarPersonas}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button th:text="#{aceptar}" id="modalConfirmarPersonasAceptarButton" type="button" class="btn btn-primary" data-dismiss="modal" th:eventoId="${eventoId}" th:mayores="${personas.mayores}" th:ninyos="${personas.ninyos}" onclick="confirmarClicked(this.getAttribute('eventoId'), this.getAttribute('mayores'), this.getAttribute('ninyos'))"></button>
                <button th:text="#{cancelar}" id="modalConfirmarPersonasCancelarButton" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>