<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Eventos</title>
    </head>
    <body>
        <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px">
            <a th:text="#{titulo}" class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:text="#{calendario}" id="navBarCalendario" class="nav-link" href="/calendario"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a th:text="#{eventos}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{anyadir}" id="navBarAnyadir" class="dropdown-item" href="/anyadirEvento"></a>
                            <a th:text="#{ver}" id="navBarVer" class="dropdown-item" href="/verEventos"></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" hidden>
                        <a th:text="#{idioma}" class="nav-link dropdown-toggle" href="#" id="navbarIdiomaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{idioma.espanyol}" rel="es_ES" class="dropdown-item"></a>
                            <a th:text="#{idioma.catalan}" rel="ca_ES" class="dropdown-item"></a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:text="#{logOut}" id="navBarLogout" class="nav-link" href="/logout"></a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
    </body>
</html>