<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}">
    <head>
        <title>Eventos</title>
    </head>
    <body>
        <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px">
            <a th:text="#{titulo}" class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:text="#{calendario}" id="navBarCalendario" class="nav-link" href="/calendario"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a th:text="#{eventos}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownEventos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{anyadir}" id="navBarEventoAnyadir" class="dropdown-item" href="/eventoAnyadir"></a>
                            <a th:text="#{ver}" id="navBarEventosVer" class="dropdown-item" href="/eventosVer"></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a th:text="#{empleados}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmpleados" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{anyadir}" id="navBarEmpleadoAnyadir" class="dropdown-item" href="/empleadoAnyadir"></a>
                            <a th:text="#{ver}" id="navBarEmpleadosVer" class="dropdown-item" href="/empleados"></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a th:text="#{graficos}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownGraficos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{graficoBarras}" id="navBarGraficoBarras" class="dropdown-item" href="/graficoBarras"></a>
                            <a th:text="#{graficoPastel}" id="navBarGraficoPastel" class="dropdown-item" href="/graficoPastel"></a>
                            <a th:text="#{graficoDispersion}" id="navBarGraficoDispersion" class="dropdown-item" href="/graficoDispersion"></a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:text="#{logOut}" id="navBarLogout" class="nav-link" href="/logout"></a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
    </body>
</html>