table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px;
}

.listaEmpleados {
    margin-right: 10px;
}

div.progress{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: groove;
    border-color: black;
}

.progress div:nth-child(1) {
    background-color: green;
}

.progress div:nth-child(2) {
    background-color: yellow;
}

.form-control {
    width: auto;
}

.hide_column {
    display : none;
}