<!DOCTYPE HTML>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>

    <th:block th:include="fragments/head :: head"/>

    <script th:src="@{/libraries/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/libraries/js/fabric.min.js}" type="text/javascript" ></script>
    <script th:src="@{/js/distribucion.js}" type="text/javascript"></script>

    <link th:href="@{/libraries/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/distribucion.css}" rel="stylesheet" type="text/css" />

    <script th:inline="javascript">
        let idEvento = [[${idEvento}]];
        let distribucion = [[${distribucion}]];
    </script>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div id="distribucionTipoMesaModalHolder"></div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 th:text="#{dialogo}" class="modal-title" id="confirmModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:text="#{guardado}" class="modal-body"></div>
                <div class="modal-footer">
                    <button th:text="#{cerrar}" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <table class="display compact" id="mesas">
                    <caption th:text="#{table.description.mesas}"></caption>
                    <thead>
                    <tr>
                        <th th:text="#{mesa.id}" scope="col"></th>
                        <th th:text="#{mesa.numero}" scope="col"></th>
                        <th th:text="#{mesa.personas}" scope="col"></th>
                        <th th:text="#{anyadir}" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mesa: ${mesas}">
                        <td th:text="${mesa.id}"></td>
                        <td th:text="${mesa.numero}"></td>
                        <td th:text="${mesa.personas}"></td>
                        <td>
                            <button th:text="#{anyadir}" type="button" class="btn btn-primary" th:mesaId="${mesa.id}" th:numero="${mesa.numero}" th:personas="${mesa.personas}" onclick="anyadirClicked(this.getAttribute('mesaId'), this.getAttribute('numero'), this.getAttribute('personas'), this)"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-8">
                <div class="row">
                    <canvas id="canvas" width="700" height="500" style="border: 1px solid rgb(204, 204, 204);"></canvas>
                </div>
                <div class="row">
                    <button th:text="#{guardar}" class="btn btn-primary" type="submit" onclick="guardarClicked()"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>