<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>

    <th:block th:include="fragments/head :: head"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 th:text="#{error}"></h1>
                    <hr>
                    <span th:text="#{codigoError}"></span>
                    <span th:text="${statusCode}"></span>
                    <div th:text="${errorDetail}" class="error-details"></div>
                    <hr>
                    <div class="error-actions">
                        <a th:text="#{volver}" href="/calendario" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>