<!DOCTYPE HTML>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Eventos</title>

  <th:block th:include="fragments/head :: head"/>

  <script th:src="@{/js/eventoVer.js}" type="text/javascript"></script>
  <link th:href="@{/css/eventoVer.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div id="confirmPersonasModalHolder"></div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button th:text="#{accion}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a th:text="#{modificar}" id="modificarButton" class="dropdown-item" th:eventoId="${evento.id}" onclick="modificarClicked(this.getAttribute('eventoId'))"></a>
          <a th:text="#{mesas}" id="mesasButton" class="dropdown-item" th:eventoId="${evento.id}" onclick="mesasClicked(this.getAttribute('eventoId'))"></a>
          <a th:text="#{calcularPersonas}" id="calcularPersonasButton" class="dropdown-item" th:eventoId="${evento.id}" onclick="calcularPersonasClicked(this.getAttribute('eventoId'))"></a>
          <a th:text="#{protagonistas}" id="protagonistasButton" class="dropdown-item" th:eventoId="${evento.id}" onclick="protagonistasClicked(this.getAttribute('eventoId'))"></a>
          <a th:text="#{empleados}" id="empleadosButton" class="dropdown-item" th:eventoId="${evento.id}" onclick="empleadosClicked(this.getAttribute('eventoId'))"></a>
          <div role="separator" class="dropdown-divider"></div>
          <a th:text="#{eliminar}" id="eliminarButton" class="dropdown-item" data-toggle="modal" data-target="#confirmarEliminarModal"></a>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <p th:text="#{evento.fecha}" class="font-weight-bold"></p>
      <p id="eventoFecha" th:text="${#dates.format(evento.fecha, 'yyyy-MM-dd')}" class="font-weight-normal"></p>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.localidad}" class="font-weight-bold"></p>
      <p id="eventoLocalidad" th:text="${evento.localidad}" class="font-weight-normal"></p>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.tipo}" class="font-weight-bold"></p>
      <p id="eventoTipo" th:text="${evento.tipo}" class="font-weight-normal"></p>
    </div>
    <div class="col">
      <p th:text="#{evento.horario}" class="font-weight-bold"></p>
      <p id="eventoHorario" th:text="${evento.horario}" class="font-weight-normal"></p>
    </div>
    <div class="col">
      <p th:text="#{evento.titulo}" class="font-weight-bold"></p>
      <p id="eventoTitulo" th:text="${evento.titulo}" class="font-weight-normal"></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.sala}" class="font-weight-bold"></p>
      <p id="eventoSala" th:text="${evento.sala}" class="font-weight-normal"></p>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.personas.mayores}" class="font-weight-bold"></p>
      <p id="eventoPersonas" th:text="${evento.personas.mayores}" class="font-weight-normal"></p>
    </div>
    <div class="col" sec:authorize="hasRole('ADMIN')">
      <p th:text="#{evento.precioMenu}" class="font-weight-bold"></p>
      <p id="eventoPrecioMenu" th:text="${evento.precioMenu}" class="font-weight-normal"></p>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.personas.ninyos}" class="font-weight-bold"></p>
      <p id="eventoNinyos" th:text="${evento.personas.ninyos}" class="font-weight-normal"></p>
    </div>
    <div class="col" sec:authorize="hasRole('ADMIN')">
      <p th:text="#{evento.precioMenuNinyos}" class="font-weight-bold"></p>
      <p id="eventoPrecioMenuNinyos" th:text="${evento.precioMenuNinyos}" class="font-weight-normal"></p>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p th:text="#{evento.confirmado}" class="font-weight-bold"></p>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" th:checked="${evento.confirmado}">
        <label id="eventoConfirmado" class="custom-control-label" th:text="${evento.confirmado} ? 'Si' : 'No'"></label>
      </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

  <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 th:text="#{confirmar}" class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div th:text="#{seguroGuardarCambios}" class="modal-body"></div>
        <div class="modal-footer">
          <button th:text="#{cerrar}" id="modalEliminarCerrarButton" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
          <button th:text="#{eliminar}" id="modalEliminarButton" type="button" class="btn btn-primary" th:eventoId="${evento.id}" onclick="confirmarEliminar(this.getAttribute('eventoId'))"></button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>