<!DOCTYPE HTML>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>

    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/headDatePicker :: head"/>

    <script th:src="@{/js/eventoAnyadirUpdate.js}" type="text/javascript"></script>

    <link th:href="@{/css/eventoUpdate.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <form action="#" th:action="@{/eventoUpdate}" th:object="${evento}" method="post">
            <div class="form-row" hidden>
                <div class="col">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="id" required>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
            <div th:replace="fragments/eventoForm :: fecha"></div>
            <div th:replace="fragments/eventoForm :: localidad"></div>
            <div th:replace="fragments/eventoForm :: tipoHorarioTitulo"></div>
            <div th:replace="fragments/eventoForm :: sala"></div>
            <div th:replace="fragments/eventoForm :: personas"></div>
            <div th:replace="fragments/eventoForm :: ninyos"></div>
            <div th:replace="fragments/eventoForm :: confirmado"></div>

            <button id="buttonModificar" th:text="#{modificar}" class="btn btn-primary" type="submit"></button>
        </form>
    </div>
</body>
</html>