<!DOCTYPE HTML>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Eventos</title>

  <th:block th:include="fragments/head :: head"/>
  <th:block th:include="fragments/headDatePicker :: head"/>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:src="@{/js/graficoDispersion.js}" type="text/javascript"></script>

  <script th:inline="javascript">
    let eventos = [[${eventos}]];
    let tiposEventos = [[${tiposEventos}]];
  </script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
  <div class="form-group required">
    <label th:text="#{graficos.anyo}" class="control-label" for="datepicker"></label>
    <input type="text" class="form-control" id="datepicker">
  </div>

  <div id="chart_div"></div>
</div>
</body>
</html>