<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"/>

    <script th:src="@{/webjars/fullcalendar/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/calendar.js}" type="text/javascript"></script>
    <link th:href="@{/webjars/fullcalendar/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/calendar.css}" rel="stylesheet" type="text/css" />

    <script th:inline="javascript">
        let eventos = JSON.parse([[${eventosJson}]]);
    </script>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div id="eventModalHolder"></div>
    <div id='calendar'></div>

</body>
</html>