<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>

    <th:block th:include="fragments/head :: head"/>
    <script th:src="@{/libraries/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/protagonistasVer.js}" type="text/javascript"></script>

    <link th:href="@{/libraries/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <button th:text="#{anyadir}" type="button" class="btn btn-primary" style="margin-bottom: 10px" id="botonAnyadir" th:eventoId="${evento.id}" onclick="anyadirClicked(this.getAttribute('eventoId'))"></button>

        <table class="display compact" id="protagonistas">
            <caption th:text="#{table.description.protagonistas}"></caption>
            <thead>
            <tr>
                <th th:text="#{protagonista.tipo}" scope="col"></th>
                <th th:text="#{protagonista.nombre}" scope="col"></th>
                <th th:text="#{protagonista.telefono}" scope="col"></th>
                <th th:text="#{protagonista.correo}" scope="col"></th>
                <th th:text="#{eliminar}" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protagonista, iter: ${evento.protagonistas}" style="cursor: pointer" onclick="rowClicked(this.getAttribute('eventoId'))">
                <td th:switch="${protagonista.tipo}">
                    <span th:case="'novioNovia'" th:text="#{novioNovia}"></span>
                    <span th:case="'comunianteComunianta'" th:text="#{comunianteComunianta}"></span>
                    <span th:case="'padreMadre'" th:text="#{padreMadre}"></span>
                </td>
                <td th:text="${protagonista.nombre}"></td>
                <td th:text="${protagonista.telefono}"></td>
                <td th:text="${protagonista.correo}"></td>
                <td>
                    <button th:text="#{eliminar}" type="button" class="btn btn-danger" th:protagonistaIndex="${iter.index}" th:eventoId="${evento.id}" onclick="eliminarClicked(this.getAttribute('eventoId'), this.getAttribute('protagonistaIndex'))"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>