<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragments/head :: head"/>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div id="confirmPersonasModalHolder"></div>

<div class="container">

  <p th:text="#{evento.fecha}" class="font-weight-bold"></p>
  <p th:text="${#dates.format(evento.fecha, 'yyyy-MM-dd')}" class="font-weight-normal"></p>

  <p th:text="#{evento.tipo}" class="font-weight-bold"></p>
  <p th:text="${evento.tipo}" class="font-weight-normal"></p>

  <p th:text="#{evento.horario}" class="font-weight-bold"></p>
  <p th:text="${evento.horario}" class="font-weight-normal"></p>

  <p th:text="#{evento.titulo}" class="font-weight-bold"></p>
  <p th:text="${evento.titulo}" class="font-weight-normal"></p>

  <p th:text="#{evento.localidad}" class="font-weight-bold"></p>
  <p th:text="${evento.localidad}" class="font-weight-normal"></p>

  <p th:text="#{evento.personas}" class="font-weight-bold"></p>
  <p th:text="${evento.personas}" class="font-weight-normal"></p>

  <p th:text="#{evento.precioMenu}" class="font-weight-bold"></p>
  <p th:text="${evento.precioMenu}" class="font-weight-normal"></p>

  <p th:text="#{evento.ninyos}" class="font-weight-bold"></p>
  <p th:text="${evento.ninyos}" class="font-weight-normal"></p>

  <p th:text="#{evento.precioMenuNinyos}" class="font-weight-bold"></p>
  <p th:text="${evento.precioMenuNinyos}" class="font-weight-normal"></p>

  <p th:text="#{evento.confirmado}" class="font-weight-bold"></p>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" th:checked="${evento.confirmado}">
    <label class="custom-control-label" th:text="${evento.confirmado} ? 'Si' : 'No'"></label>
  </div>

  <button th:text="#{modificar}" type="button" class="btn btn-primary" id="botonModificar" th:eventoId="${evento.id}" onclick="modificarClicked(this.getAttribute('eventoId'))"></button>
  <button th:text="#{protagonistas}" type="button" class="btn btn-primary" id="botonProtagonistas" th:eventoId="${evento.id}" onclick="protagonistasClicked(this.getAttribute('eventoId'))"></button>
  <button th:text="#{mesas}" type="button" class="btn btn-primary" id="botonMesas" th:eventoId="${evento.id}" onclick="mesasClicked(this.getAttribute('eventoId'))"></button>
  <button th:text="#{calcularPersonas}" type="button" class="btn btn-primary" id="calcularPersonas" th:eventoId="${evento.id}" onclick="calcularPersonasClicked(this.getAttribute('eventoId'))"></button>
  <button th:text="#{atras}" type="button" class="btn btn-secondary" id="botonAtras" onclick="atrasClicked()"></button>
  <button th:text="#{eliminar}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"></button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 th:text="#{confirmar}" class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div th:text="#{seguroGuardarCambios}" class="modal-body"></div>
        <div class="modal-footer">
          <button th:text="#{cerrar}" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
          <button th:text="#{eliminar}" type="button" class="btn btn-primary" id="botonModalGuardar" th:eventoId="${evento.id}" onclick="confirmarEliminar(this.getAttribute('eventoId'))"></button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
<script>
  function modificarClicked(eventoId){
    location.href = "/updateEvento?eventoId=" + eventoId;
  }

  function protagonistasClicked(eventoId){
    location.href = "/evento/protagonistas?eventoId=" + eventoId;
  }

  function atrasClicked(){
    history.back();
  }

  function confirmarEliminar(eventoId){
    location.href = "/eliminarEvento?eventoId=" + eventoId;
  }

  function mesasClicked(eventoId){
    location.href = "/evento/mesas?eventoId=" + eventoId;
  }

  function calcularPersonasClicked(eventoId){
    $.ajax({
      url: "/evento/calcularPersonas?eventoId=" + eventoId,
      success: function (data) {
        $("#confirmPersonasModalHolder").html(data);
        $("#confirmPersonasModal").modal("show");
      }
    })
  }

  function confirmarClicked(eventoId, personas){
    console.log(eventoId, personas);
  }
</script>
</html>