<!DOCTYPE HTML>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Eventos</title>

    <th:block th:include="fragments/head :: head"/>
    <th:block th:include="fragments/headDatePicker :: head"/>

    <script th:src="@{/libraries/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/verEventos.js}" type="text/javascript"></script>
    <link th:href="@{/libraries/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/verEventos.css}" rel="stylesheet" type="text/css" />

</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <span sec:authentication="principal.authorities" id="userRole" hidden></span>

    <div class="container">
        <div class="row">
            <label th:text="#{fechaMin}"></label>
            <input type="text" th:placeholder="#{fechaMin}" id="fechaMin">
        </div>
        <div class="row">
            <label th:text="#{fechaMax}"></label>
            <input type="text" th:placeholder="#{fechaMax}" id="fechaMax">
        </div>

        <div class="row">
            <table class="display compact" id="eventos">
                <caption th:text="#{table.description.eventos}"></caption>
                <thead>
                <tr>
                    <th th:text="#{evento.fecha}" scope="col"></th>
                    <th th:text="#{evento.titulo}" scope="col"></th>
                    <th th:text="#{evento.tipo}" scope="col"></th>
                    <th th:text="#{evento.horario}" scope="col"></th>
                    <th th:text="#{evento.localidad}" scope="col"></th>
                    <th th:text="#{evento.personas}" scope="col"></th>
                    <th th:text="#{evento.precioMenu}" scope="col" sec:authorize="hasRole('ADMIN')"></th>
                    <th th:text="#{evento.ninyos}" scope="col"></th>
                    <th th:text="#{evento.precioMenuNinyos}" scope="col" sec:authorize="hasRole('ADMIN')"></th>
                    <th th:text="#{evento.confirmado}" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="evento: ${eventos}" style="cursor: pointer" th:eventoId="${evento.id}" onclick="rowClicked(this.getAttribute('eventoId'))">
                    <td th:text="${#dates.format(evento.fecha, 'yyyy-MM-dd')}"></td>
                    <td th:text="${evento.titulo}"></td>
                    <td th:text="${evento.tipo}"></td>
                    <td th:text="${evento.horario}"></td>
                    <td th:text="${evento.localidad}"></td>
                    <td th:text="${evento.personas}"></td>
                    <td th:text="${evento.precioMenu}" sec:authorize="hasRole('ADMIN')"></td>
                    <td th:text="${evento.ninyos}"></td>
                    <td th:text="${evento.precioMenuNinyos}" sec:authorize="hasRole('ADMIN')"></td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" th:checked="${evento.confirmado}">
                            <label class="custom-control-label" th:text="${evento.confirmado} ? 'Si' : 'No'"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td th:text="#{total}" colspan="5" style="text-align:right"></td>
                    <td></td>
                    <td sec:authorize="hasRole('ADMIN')"></td>
                    <td></td>
                    <td sec:authorize="hasRole('ADMIN')"></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</body>
<script type="text/javascript">
    function rowClicked(eventoId){
        location.href = "/verEvento?eventoId=" + eventoId;
    }
</script>
</html>